/.bash_history
/.bash_logout
/.bashrc
/.cache
/.claude
/.claude.json
/.claude.json.backup
/.claude.json.corrupted.1752217991414
/.conda
/.config
/.dotnet
/.ipython
/.motd_shown
/.npm
/.nv
/.profile
/.sudo_as_admin_successful
/.vscode-server
/anaconda3